.formContainer {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fieldContainer {
  flex: 1 0 auto;
  width: 200px;
  margin-bottom: 10px;
}

.formField {
  width: 100%;
}
